.navbar-default .navbar-nav>.active>a {
	color: black;
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar {
	width: 100%;
	/*position: fixed;*/
	margin-bottom: 0;
	background-color: white;
	border: 0;
	color: white;
}
.btn {
    margin-bottom: 10px;
}
.right {
    float: right;
}
nav h1 {
	margin-top: 0;
	margin-bottom: 10px;
	color: black;
}
header{
	background-color: black;
	background-image: url('../images/cupcake.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
    height: 100vh;
    width: 100%;
	/* z-index: 1; */

}
header h1{

	/*display: inline-block;*/
	position: relative;
	top:2em;
	text-align: left;
	font-size: 10em;
	margin-top: 0;
	margin-left: .5em;
	color: white;
}
header h3 {
	display:inline-block;
	position: relative;
	top: 11em;
	left: 3em;
	color: white;
}
.aboutMe{
	width:100%;
	text-align: center;
	font-size: 20px;
	background-color:#ddd;
}
#linkedIn {
	height:32px;
	width: 32px;
}
.projects{
	width:90%;

}
.projectImg2:hover {
	transform: scale(1.01);
}
.projectImg {
	margin-top: 40px;
	margin-bottom: 40px;
}
.box {
	background-color: transparent;
	height: 480px;
	color: white;
}
.js-logo {
	margin-top: -10px
}
.contactMe {
	text-align: center;
	width: 100%;
	background-color: black;
	color: white;
	overflow: hidden;
}
.contactRow {
	width:100%;
}
#yourMessage {
	height:108px;
}

.ribbon-wrapper-green {
    width: 100vw;
    height: 40px;
    overflow: hidden;
    position: fixed;
    top: 47px;
    z-index: 3333;
  }
  
  .ribbon-green {
    font: bold 13px Sans-Serif;
    color: #333;
    text-align: center;
    position: relative;
    top: 15px;
    width: 100vw;
    background-color: rgb(245, 105, 70);
    color: white;
  }
/* Phone CSS */
@media screen and (max-width: 768px) {
    .navbar-brand {
        padding: 15px 10px;
        padding-left: 10vh;
    }
    nav h1 {
        margin-top: -10px;
    }
    header h4 {
        font-size: 18px;
        display: block;
        position: relative;
        top: 5em;
        left: 2em;
        word-wrap: normal;
        color: white;
        width: 30vh;
    }
    .contactRow {
        margin-left: 0;
    }
    header {
        height: 50vh;
    }
    header h3 {
        top: 4em;
        left: 1em;
    }
    .ribbon-wrapper-green {
        top: 32px;
    }
}

  